name: Java CI with Maven

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn clean package
    - name: Trigger Jenkins Job
      run: |
        curl -X POST "${{ secrets.JENKINS_URL }}/job/Deploy-Insured-App/build?token=${{ secrets.JENKINS_TRIGGER_TOKEN }}" \
        --user "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}"
